[Desktop Entry]
Name=Net Tools[D]
Comment=Diagnostico de red
Exec=python3 /home/nombreusuario/NET-TOOLKIT-GUI/net_tools.pyw #MODIFICAR 
Icon=/home/nombreusuario/NET-TOOLKIT-GUI/net.png #MODIFICAR 
Categories=System Tools; #se puede omitir esta linea
Terminal=false #true si es de terminal
Type=Application
